body {
    align-content: center;
    text-align: center;
    font-family: ".SF NS Display", "Avenir Next", "Helvetica Neue";
    color: #FFFFFF;
    margin-top: 200px;
}

.user {
    text-align: left;
    font-weight: bold;
    font-size: x-large;
}

.user:hover {
    color: #9a0aff;
}

.date {
    text-align: left;
    font-weight: bold;
    font-size: small;
    color: #5b5b5b;
}

.tweet {
    font-size: 200%;
    text-align: center;
    position: inherit;
    padding-top: 10px;
    padding-bottom: 50px;
}


.well {
    margin-right: 20px;
    margin-left: 20px;
}

.header {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 300%;
    text-align: left;
    margin-left: 40px;
    padding-top: 40px;
    -webkit-text-stroke-color: #9a0aff;

}


.footer {
    color: white;
    margin-right: 40px;
    padding-bottom: 40px;
}

.button {
    align-content: center;
    background-color:#9a0aff;
    /*background-image: linear-gradient(0deg, #a7a7a7, #FFFFFF);*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #8507de;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: SF NS Display, Avenir Next, Helvetica Neue, Arial;
    font-size: 20px;
    padding:6px 122px;
    text-decoration:none;
    text-shadow:0px 1px 0px #560092;
    margin: 30px;
}
.button:hover {
    background-color:#8f23da;
}
.button:active {
    position:relative;
    top:1px;
}
